In [1]:
# Dependicies
import pandas as pd
import numpy as np
from citipy import citipy

# Import file
seattle_df = pd.read_csv('data/SDOT_Collisions_-_All_Years.csv')
seattle_df.head(10)

,X,Y,OBJECTID,INCKEY,COLDETKEY,ADDRTYPE,COLLISIONTYPE,EXCEPTRSNCODE,EXCEPTRSNDESC,FATALITIES,...,ADDDTTM,MODBY,MODDTTM,ST_PARTCPNT_TYPE,ST_PARTCPNT_TYPE_DESC,ST_AGE,ST_CITED,ST_VEH_TYPE_CD,ST_VEH_TYPE_DESC,ST_INJRY_CLSS_DESC
0,1.271322e+06,217404.089923,1,335146,336646,Intersection,Right Turn,,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.272086e+06,212007.295599,2,353750,355210,Block,Rear Ended,,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.272384e+06,224370.589442,3,34300,34300,Block,Rear Ended,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.274204e+06,223012.329363,4,335066,336566,Intersection,Rear Ended,,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.266010e+06,271489.407278,5,62100,62100,Block,Left Turn,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.264090e+06,229810.048051,6,1082,1082,Intersection,Left Turn,,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1.275587e+06,212337.728665,7,1255,1255,Block,Parked Car,,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1.284349e+06,205390.566050,8,76100,76100,Block,Parked Car,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1.265055e+06,229784.721002,9,357107,358567,Intersection,Angles,,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1.265803e+06,269008.050364,10,1358,1358,Block,Left Turn,,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# Remove unnecessary columns from the dataframe
columns_to_drop = ['INCKEY', 'OBJECTID', 'COLDETKEY', 'EXCEPTRSNCODE', 'EXCEPTRSNDESC',
                   'INCDTTM', 'INTKEY', 'JUNCTIONTYPE', 'LOCATION', 'PEDROWNOTGRNT', 'REPORTNO',                   
                   'SDOT_COLDESC', 'SDOTCOLNUM', 'ST_COLDESC', 'STATUS', 'SEGLANEKEY', 'CROSSWALKKEY',                   
                   'HITPARKEDCAR', 'SOURCEDESC', 'ADDDTTM', 'MODBY', 'MODDTTM', 'ST_PARTCPNT_TYPE',                   
                   'ST_PARTCPNT_TYPE_DESC', 'ST_AGE', 'ST_CITED', 'ST_VEH_TYPE_CD', 'ST_VEH_TYPE_DESC',                   
                   'ST_INJRY_CLSS_DESC', 'SOURCE', 'ADDBY']

cleaned_seattle_df = seattle_df.drop(columns=columns_to_drop)

In [3]:
# Replacing NaN values in the 'SPEEDING' column to 0
cleaned_seattle_df['SPEEDING'] = cleaned_seattle_df['SPEEDING'].replace({'NAN': np.nan, 'Y': 1}).fillna(0).astype('Int64')

In [4]:
# print(cleaned_seattle_df['INATTENTIONIND'].unique())

# Replaced NaN values in 'INATTENTIONIND' column to 0
cleaned_seattle_df['INATTENTIONIND'] = cleaned_seattle_df['INATTENTIONIND'].replace({'NAN': np.nan, 'Y': 1}).fillna(0).astype('Int64')

In [5]:
unique_UNDERINFL= cleaned_seattle_df['UNDERINFL'].unique()
unique_UNDERINFL

array(['N', '0', nan, 'Y', '1'], dtype=object)

In [6]:
# Reworking the multiple values in the 'UNDERINFL' column to be int form
cleaned_seattle_df['UNDERINFL'] = cleaned_seattle_df['UNDERINFL'].replace({
    'N': 0,
    '0': 0,
    'Y': 1,
    '1': 1,
    np.nan: 2
})

In [7]:
unique_addrtype = cleaned_seattle_df['ADDRTYPE'].unique()
unique_addrtype

array(['Intersection', 'Block', nan, 'Alley'], dtype=object)

In [8]:
addrtype_key = {'Block': 1, 
                'Intersection': 2, 
                'Alley': 3, 
                np.nan: 0
               }

cleaned_seattle_df['ADDRTYPE'] = cleaned_seattle_df['ADDRTYPE'].replace(addrtype_key)

In [9]:
unique_collisiontype = cleaned_seattle_df['COLLISIONTYPE'].unique()
unique_collisiontype

array(['Right Turn', 'Rear Ended', 'Left Turn', 'Parked Car', 'Angles',
       'Sideswipe', nan, 'Cycles', 'Other', 'Pedestrian', 'Head On'],
      dtype=object)

In [10]:
collisiontype_key = {'Angles': 1,
                     'Cycles': 2,
                     'Head On': 3,
                     'Left Turn': 4,
                     'Other': 5,
                     'Parked Car': 6,
                     'Pedestrian': 7,
                     'Rear Ended': 8,
                     'Right Turn': 9,
                     'Sideswipe': 10,
                     np.nan: 0
                    }

cleaned_seattle_df['COLLISIONTYPE'] = cleaned_seattle_df['COLLISIONTYPE'].replace(collisiontype_key)

In [11]:
unique_lightcond = cleaned_seattle_df['LIGHTCOND'].unique()
unique_lightcond

array(['Daylight', 'Dark - Street Lights On', 'Unknown', nan, 'Dusk',
       'Dawn', 'Dark - No Street Lights', 'Other',
       'Dark - Street Lights Off', 'Dark - Unknown Lighting'],
      dtype=object)

In [12]:
# Define a dictionary that maps each unique value in the 'LIGHTCOND' column to an integer key
lightcond_key = {
    'Daylight': 1,
    'Dark - Street Lights On': 2,
    'Unknown': 3,
    'Dusk': 4,
    'Dawn': 5,
    'Dark - No Street Lights': 6,
    'Other': 7,
    'Dark - Street Lights Off': 8,
    'Dark - Unknown Lighting': 9,
    np.nan: 0
}

# Use the replace() method to replace each value in the 'LIGHTCOND' column with its corresponding integer key
cleaned_seattle_df['LIGHTCOND'] = cleaned_seattle_df['LIGHTCOND'].replace(lightcond_key)

cleaned_seattle_df['LIGHTCOND'].head(10)

0    1
1    1
2    1
3    2
4    1
5    1
6    3
7    1
8    1
9    1
Name: LIGHTCOND, dtype: int64

In [13]:
unique_roadcond = cleaned_seattle_df['ROADCOND'].unique()
unique_roadcond

array(['Dry', 'Wet', nan, 'Unknown', 'Snow/Slush', 'Ice', 'Other',
       'Standing Water', 'Sand/Mud/Dirt', 'Oil'], dtype=object)

In [14]:
roadcond_key = {'Dry': 0, 
                'Wet': 1, 
                'Unknown': 2, 
                'Snow/Slush': 3, 
                'Ice': 4, 
                'Other': 5, 
                'Standing Water': 6, 
                'Sand/Mud/Dirt': 7, 
                'Oil': 8,
                np.nan: 0
}
cleaned_seattle_df['ROADCOND'] = cleaned_seattle_df['ROADCOND'].replace(roadcond_key)

In [15]:
unique_severitydesc = cleaned_seattle_df['SEVERITYDESC'].unique()
unique_severitydesc

array(['Property Damage Only Collision', 'Unknown', 'Injury Collision',
       'Serious Injury Collision', 'Fatality Collision'], dtype=object)

In [16]:
severitydesc_key ={
    'Property Damage Only Collision': 0, 
    'Unknown': 1, 
    'Injury Collision': 2, 
    'Serious Injury Collision': 3, 
    'Fatality Collision': 4
}

cleaned_seattle_df['SEVERITYDESC'] = cleaned_seattle_df['SEVERITYDESC'].map(severitydesc_key)

In [17]:
unique_weather = cleaned_seattle_df['WEATHER'].unique()
unique_weather

array(['Overcast', 'Clear', 'Unknown', 'Raining', nan, 'Snowing',
       'Fog/Smog/Smoke', 'Other', 'Sleet/Hail/Freezing Rain',
       'Blowing Sand/Dirt', 'Severe Crosswind', 'Partly Cloudy',
       'Blowing Snow'], dtype=object)

In [18]:
weather_key = {
    'Unknown': 0,
    'Clear': 1,
    'Partly Cloudy': 2,
    'Overcast': 3,
    'Raining': 4,
    'Snowing': 5,
    'Fog/Smog/Smoke': 6,
    'Sleet/Hail/Freezing Rain': 7,
    'Blowing Sand/Dirt': 8,
    'Severe Crosswind': 9,
    'Blowing Snow': 10,
    'Other': 11,
}

cleaned_seattle_df['WEATHER'] = cleaned_seattle_df['WEATHER'].map(weather_key)

In [19]:
cleaned_seattle_df.head(10)

,X,Y,ADDRTYPE,COLLISIONTYPE,FATALITIES,INATTENTIONIND,INCDATE,INJURIES,LIGHTCOND,PEDCOUNT,...,ROADCOND,SDOT_COLCODE,SERIOUSINJURIES,SEVERITYCODE,SEVERITYDESC,SPEEDING,ST_COLCODE,UNDERINFL,VEHCOUNT,WEATHER
0,1.271322e+06,217404.089923,2,9,0,0,2020/10/15 00:00:00+00,0,1,0,...,0,11.0,0,1,0,0,16,0,2,3.0
1,1.272086e+06,212007.295599,1,8,0,0,2022/08/17 00:00:00+00,0,1,0,...,0,14.0,0,1,0,0,14,0,2,1.0
2,1.272384e+06,224370.589442,1,8,0,0,2005/06/07 00:00:00+00,0,1,0,...,0,14.0,0,1,0,0,14,0,3,3.0
3,1.274204e+06,223012.329363,2,8,0,0,2020/10/04 00:00:00+00,0,2,0,...,0,14.0,0,1,0,0,14,0,2,1.0
4,1.266010e+06,271489.407278,1,4,0,0,2006/09/12 00:00:00+00,0,1,0,...,0,16.0,0,1,0,0,15,0,2,1.0
5,1.264090e+06,229810.048051,2,4,0,0,2013/03/25 00:00:00+00,0,1,0,...,0,11.0,0,1,0,0,28,0,2,1.0
6,1.275587e+06,212337.728665,1,6,0,0,2013/03/30 00:00:00+00,0,3,0,...,0,14.0,0,1,0,0,32,0,2,0.0
7,1.284349e+06,205390.566050,1,6,0,1,2007/10/07 00:00:00+00,0,1,0,...,1,11.0,0,1,0,0,20,0,2,4.0
8,1.265055e+06,229784.721002,2,1,0,0,2022/07/14 00:00:00+00,0,1,0,...,0,11.0,0,1,0,0,10,0,2,1.0
9,1.265803e+06,269008.050364,1,4,0,0,2013/04/02 00:00:00+00,0,1,0,...,0,11.0,0,1,0,0,28,0,2,3.0

In [20]:
cleaned_seattle_df.to_csv('data/cleaned_seattle_data.csv', index=False)